<!DOCTYPE html>
<html>
<head>
    <title>GASNIG</title>
    <style>
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        li {
        display: inline;
        float: left;
        }
        a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
        }
    </style>
</head>
<body>
    <header>
        <ul>
            <li><a href="{% url 'home:home' %}">Əsas səhifə</a></li>
            <li><a href="{% url 'gallery:gallery' %}">Qalereya</a></li>
            <li><a href="{% url 'home:about' %}">Haqqımda</a></li>
            <li><a href="{% url 'home:contact' %}">Əlaqə</a></li>
        </ul>
    </header>
</body>
</html>