<head>
    <title>GASNIG</title>
</head>
<body>
    <li><a href="{% url 'home:home' %}">Əsas səhifə</a></li>
    <li><a href="{% url 'gallery:gallery' %}">Qalereya</a></li>
    <li><a href="{% url 'gallery:create' %}">Yeni Dizayn</a></li>
    <li><a href="{% url 'home:about' %}">Haqqımda</a></li>
    <li><a href="{% url 'home:contact' %}">Əlaqə</a></li>
    {% for post in posts %}
        {{ post.title }}<br>
        <img src="{{ post.image.url }}" class="img-responsive">
        {{ post.publishing_date }}<br>
    {% endfor %}
</body>